# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
print(g_key)

AIzaSyDfm8ih9R8iYVb8QMyepvs8QeuqeZv7-KQ

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
csvdata=pd.read_csv('weatherpy.csv')
weather_data=pd.DataFrame(csvdata)
weather_data.head()

,Unnamed: 0,City,Cloudiness,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,0,Guerrero Negro,0,1587258069,61,27.98,-114.06,63.99,21.45
1,1,San Juan,0,1587258143,30,-31.54,-68.54,75.94,1.01
2,2,Muravlenko,100,1587258143,90,63.79,74.52,39.58,16.11
3,3,Qaanaaq,100,1587258144,88,77.48,-69.36,21.69,19.26
4,4,Kozan,23,1587258144,100,37.46,35.82,57.31,4.70

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
gmaps.configure(api_key=g_key)

In [9]:
locations = weather_data[["Latitude", "Longitude"]].astype(float)
humidity= weather_data["Humidity"].astype(float)

In [10]:
fig = gmaps.figure()

In [15]:
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [20]:
#drop nulls and define best weather conditions #adjusting weather specifications due to sample size
best_df= weather_data.copy()
best_df = best_df[(best_df["Max Temperature"] > 55) & (best_df["Max Temperature"] < 80)]
best_df=best_df[(best_df["Wind Speed"]<10)]
best_df=best_df[(best_df["Cloudiness"]==0)]
best_df= best_df.dropna()
best_df

,Unnamed: 0,City,Cloudiness,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
1,1,San Juan,0,1587258143,30,-31.54,-68.54,75.94,1.01
8,8,Yeruham,0,1587258144,76,30.99,34.93,60.01,5.93
43,43,Puerto Peñasco,0,1587257936,53,31.32,-113.53,70.00,7.00
85,85,Port Elizabeth,0,1587258200,100,-33.92,25.57,59.00,3.36
103,103,Walvis Bay,0,1587258008,93,-22.96,14.51,55.67,2.24
120,120,Port Alfred,0,1587258204,87,-33.59,26.89,62.01,5.01
143,143,Kruisfontein,0,1587258040,34,-34.00,24.73,65.44,6.76
165,165,Santa Fe,0,1587258210,59,-31.63,-60.70,69.33,1.99
237,237,Nouakchott,0,1587258219,88,18.09,-15.98,66.20,8.05
282,282,Dhulian,0,1587258225,50,24.68,87.97,76.53,7.58
311,311,Paraná,0,1587258228,72,-31.73,-60.52,69.28,1.01
337,337,Lichtenburg,0,1587258232,44,-26.15,26.16,58.98,6.46
354,354,Departamento de Maldonado,0,1587258233,82,-34.67,-54.92,63.66,5.82
377,377,Dubbo,0,1587258236,63,-32.25,148.62,62.60,8.05
443,443,Moree,0,1587258012,40,-29.47,149.85,68.00,6.93
527,527,Santiago del Estero,0,1587258255,47,-27.80,-64.26,68.34,9.13

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [39]:
hotel_df=best_df
hotel_df[Hotel_Name]=''
hotel_df

,Unnamed: 0,City,Cloudiness,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed,Hotel Name
1,1,San Juan,0,1587258143,30,-31.54,-68.54,75.94,1.01,
8,8,Yeruham,0,1587258144,76,30.99,34.93,60.01,5.93,
43,43,Puerto Peñasco,0,1587257936,53,31.32,-113.53,70.00,7.00,
85,85,Port Elizabeth,0,1587258200,100,-33.92,25.57,59.00,3.36,
103,103,Walvis Bay,0,1587258008,93,-22.96,14.51,55.67,2.24,
120,120,Port Alfred,0,1587258204,87,-33.59,26.89,62.01,5.01,
143,143,Kruisfontein,0,1587258040,34,-34.00,24.73,65.44,6.76,
165,165,Santa Fe,0,1587258210,59,-31.63,-60.70,69.33,1.99,
237,237,Nouakchott,0,1587258219,88,18.09,-15.98,66.20,8.05,
282,282,Dhulian,0,1587258225,50,24.68,87.97,76.53,7.58,
311,311,Paraná,0,1587258228,72,-31.73,-60.52,69.28,1.01,
337,337,Lichtenburg,0,1587258232,44,-26.15,26.16,58.98,6.46,
354,354,Departamento de Maldonado,0,1587258233,82,-34.67,-54.92,63.66,5.82,
377,377,Dubbo,0,1587258236,63,-32.25,148.62,62.60,8.05,
443,443,Moree,0,1587258012,40,-29.47,149.85,68.00,6.93,
527,527,Santiago del Estero,0,1587258255,47,-27.80,-64.26,68.34,9.13,

In [46]:
base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json?key={g_key}&keyword=hotel&radius=5000"


# use iterrows to iterate through pandas dataframe
for city in hotel_df:
    query = f"{base_url}&location={hotel_df['Latitude']},{hotel_df['Longitude']}"
    response = requests.get(query).json()
    print(f"Retrieving Results for Index {index}")
    response = requests.get(base_url).json()
    
    #try:
        #print("I found a hotel")
        #hotel_df.loc[index,'name']=results[0]['name']
    #except (KeyError, IndexError):
        #print("No hotel here... skipping.")

Retrieving Results for Index 1
Retrieving Results for Index 1
Retrieving Results for Index 1
Retrieving Results for Index 1
Retrieving Results for Index 1
Retrieving Results for Index 1
Retrieving Results for Index 1
Retrieving Results for Index 1
Retrieving Results for Index 1
Retrieving Results for Index 1

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map